.about {
  display: flex;
  border: solid 2px blue;
  margin: 60px;
}


.read-more-button {
  border:none;
  color: #de6449;
  font-size: 1.4rem;
  margin-top: 10px;
}

.read-more-button:hover {
  /* color: aquamarine; */
  cursor: pointer;
}


aside {
  display: grid;
  width: 30%;
  margin-top: 40px;
  border-left: #de6449 solid 2px;
}
span {
  gap: 10px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  border: solid 2px red;
  height: 60px;
  border-radius: 6px;
}

h4 {
  padding: 8px;
}
