.about-flex {
  padding-top: 40px;
  padding-left: 80px;
}

.paragragh {
  width: 70%;
  font-size: 1.5rem;
}


.skills-heading {
  margin-top: 60px;
  font-weight: 900;
}

.skills {
  margin-top: 40px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 110px;
  column-gap: 10px;
  padding-bottom: 50px;
}

button {
  border:none;
  color: #de6449;
  background-color:#FDE2B6;
  font-size: 1.3rem;
}

button:hover {
  /* color: aquamarine; */
  cursor: pointer;
}
