.about {
  display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
}


.sticky-skills {
  border: 2px black solid;

}



.icons {
  transform: rotate(23deg);
  height: 100%;
  width: 80px;
  object-fit: cover;
  /* border-radius: 6px;
  filter: drop-shadow(1px 2px 3px black); */
}

.icons:hover {
  filter: drop-shadow(0 0 2em #9b2136);
  transform: rotate(0deg);
}
.logo.green:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.logo.vitest:hover {
  filter: drop-shadow(0 0 2em #86b91a);
}



.skill-card {
  border: 2px red solid;

  display: flex;
  /* justify-content: center; */
  align-items: flex-start;

  width: 220px;
}


.skill-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
   height: 4rem;
   align-items: flex-end;

     gap: 1rem;
border-radius: 1rem;
 padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.75rem;

  background: black;
}


.skill-box {
aspect-ratio: 1 / 1;
width: 2.5rem;
border-radius: 50%;
background-color: yellow;


}


.mac-block {
  border: solid red 2px;
}
