@media (max-width: 84em) {
  .nav-center a {
    margin-left: 10px;
  }
section {
 padding: 50px;
}
  .text-left {
    margin: 10px;
  }

  .el-4-avatar {
    margin: 0px;
    border: solid;
    border-color: #de6449;
    border-radius: 50%;
    max-width: 120px;
    max-height: 120px;
  }

  .main {
    flex-direction: column-reverse;
  }

  .span-1 {
    font-size: 1.5rem;
  }
  .span-2 {
    font-size: 2rem;
  }
  .el-2-about-me {
    font-size: 1.3rem;
    align-self: flex-start;
    margin-top: 20px;
    letter-spacing: 1px;
  }

.el-3-links {
  padding-top: 0px;
}

  .el-3-links h3 {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.5em;
    text-decoration: underline;
    /* margin-top: 20px; */
  }
}
