@media (max-width: 84em) {
  /* All Pages */
  .nav-center a {
    margin-left: 24px;
  }

  .text-left {
    margin: 10px;
  }

  /* Home Page */
  

  .home {
    min-height: auto;
  }

  .el-4-avatar {
    margin: 0px;
    border: solid;
    border-color: #de6449;
    border-radius: 50%;
    max-width: 120px;
    max-height: 120px;
  }

  .main {
    flex-direction: column-reverse;
  }

  .span-1 {
    font-size: 1.5rem;
  }
  .span-2 {
    font-size: 2rem;
  }
  .el-2-about-me {
    font-size: 1.3rem;
    align-self: flex-start;
    margin-top: 20px;
    letter-spacing: 1px;
  }

  .el-3-links {
    padding-top: 0px;
  }

  .el-3-links h3 {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.5em;
    text-decoration: underline;
    /* margin-top: 20px; */
  }


  .read-more-button {
    font-size: 1.2rem;
    margin-top: 8px;
  }

  .read-more-button:hover {
    cursor: pointer;
  }

  .skills-heading {
    margin-top: 60px;
    font-size: 2.2rem;
    font-weight: 300;
  }


  .skills {
    margin-top: 60px;
    align-items: center;


    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 80px;
    column-gap: 10px;
    padding-bottom: 28px;
  }
  .skills p {
    font-size: 0.9em;
  }

  .icons {
    font-size: 3.4em;
  }

  /* Projects Page */

  .projects h2 {
  padding-top: 30px;
  padding-left: 10px;
  font-size: 1.5em;

}
}
