/* Whole Card */
.card-container {
  width: 60%;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 4px;
  display: flex;
  background-color: #fbfbff;
  margin: 20px;
}

/* Left side of card */

.image-container {
  background-color: #fbfbff;
  /* width: 40%;
  height: 100%; */
  /* border-right:thin 1px var(--grey-900); */
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
			width: 40%;
			height: auto;
			/* margin: 0 auto 1.5rem; */
      /* padding-top: 20px;
      padding-left: 20px;
      padding-bottom: 16px; */


      /* width: 40%; */

		display: block;
		/* margin: 0 auto; */
}

video {
   /* border: #de6449 solid 2px; */
   border-radius: 6px;
}

/* Right side of Card */
.card-right {
  display: flex;
  text-align: left;
  /* padding: 18px; */
}

.card-title {
  margin-top: 14px;
  margin-left: 50px;

  text-align: left;
  font-weight: bolder;
}

h3 {
  font-size: xx-large;
}

.card-body {
  text-align: left;
  margin-left: 50px;
  font-weight: 100;
}
p {
  font-size: 1.2rem;
  white-space: pre-wrap;
  opacity: 80%;
}

.skills-projects {
  display: flex;
  color: #de6449;
  font-size: large;
  margin-bottom: 20px;
  justify-content: space-between;
}

.website {
  color: #de6449;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 100;
}

.card-body h4 {
  transition: var(--transition);
}
.card-body h4:hover {
  color: #ff8569;
  font-weight: 900;
  opacity: 100%;
}
