/* Whole Card */
.card-container {
  width: 60%;
  height: 450px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 4px;
  display: flex;
  background-color: #fbfbff;
  margin: 30px;
}

/* Left side of card */

.image-container {
  background-color: #fbfbff;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  width: 40%;
  display: block;
}

/* Right side of Card */
.card-right {
  display: flex;
}

.card-title {
  margin-top: 20px;
  margin-left: 50px;
  font-weight: bolder;
}

h3 {
  font-size: xx-large;
}

.card-body {
  /* text-align: left; */
  margin-left: 50px;
  font-weight: 100;
}
p {
  font-size: 1.2rem;
  white-space: pre-wrap;
  opacity: 80%;
  line-height: 1.5;
  padding-bottom: 18px;
}

/* Skills and link */
.skills-projects {
  display: flex;
  font-size: 1rem;
  justify-content: flex-start;
  gap: 8px;
}

.skills-projects strong {
  border-radius: 16px;
  background-color: #fbfbff;
  color: #dd7963;
  padding: 3px 12px;
  border: solid #dd7963 1px;
  /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
}

.link-button {
  margin-top: 24px;
  border-radius: 16px;
  background-color: #dd7963;
  /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
  color: #fbfbff;
  border: none;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.3s;
}

.link-button a {
  text-decoration: none;
  color: #fbfbff;
  font-size: 1.1rem;
}

.link-button:hover {
  background-color:#b76e5e;
}

.link-button a:hover {
  color: #fbfbff;
}

iframe {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
