/* Whole Card */
.card-container {
  width: 60%;
  border-radius: 6px;
  /* box-shadow: 0px 0px 12px 0px; */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  background-color: #fbfbff;
  margin: 20px;
}

/* Left side of card */

.image-container {
  background-color:#fbfbff;
  width: 40%;
  border-right: solid 1px var(--grey-900);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;




}

video {

  width: 100%;
  height: 100%;
  max-width: 400px;
}



/* /* .btn {
  display: flex;
  justify-content: center;
  border-radius: 6px;
  justify-content: space-evenly;
} */

/* .btn button {
  padding: 0.5rem;
  background-color: #de6449;
  color: antiquewhite;
  border: none;
  transition: 0.2s;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}
.btn button:hover {
  background-color: #ff6d4d;
} */

/* Right side of Card */
.card-right {
  display: flex;
  text-align: left;
  padding: 18px;
}

.card-title {
  padding: 10px;
  text-align: center;
}

.card-body {
  text-align: left;
  margin-left: 50px;

}
p {
  font-size: 1.2rem;
  white-space: pre-wrap;
}
