.el-4-avatar {
  margin: 150px;
  border-radius: 50%;
  /* width: 100%; */
  max-width: 320px;
  max-height: 320px;
  /* margin-left: 80px; */

}

section {
 padding: 30px;
}


.main {
  display: flex;
  align-items:center;
  justify-content: flex-start;
  }

/* p {
  margin-bottom: 1rem;
  max-width: 40em;
} */


.text-left {
  margin-left: 40px;
}

.el-1-header {
  align-self: flex-start;
}
.span-1 {
  font-size: 3rem;
  letter-spacing: 1px;
}
.span-2 {
  font-size: 4.2rem;
  letter-spacing: 5px;
  color: #de6449;
}


.el-2-about-me {
  font-size: 1.8rem;
  align-self: flex-start;

}


.el-3-links {
  display: flex;
  align-items: center;
  gap: 40px;
  padding-top: 50px;
}

.el-3-links a {
  /* font-size: clamp(0.75rem, 5vw, 0.85rem); */
  color: #171614;
  transition: var(--transition);
}

.el-3-links a:hover {
  color: #ff8569;
}
