@import url("https://fonts.googleapis.com/css?family=Montserrat:400|Inconsolata:400");



*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
/* :root {
  /* COLORS  */



  /* typography
  --defaultFontSize: 87.5%;
  --headingFont: "Inconsolata", monospace;
  --bodyFont: "Montserrat", sans-serif;
  --smallText: 0.8em;
  --extraSmallText: 0.7em;
  /* rest */
  /* --backgroundColor: var(--grey-50);
  --textColor: var(--main--black);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;
} */

/* html {
  font-size: var(--defaultFontSize);
}

body {
  background: var(--backgroundColor);
  color: var(--textColor);
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
} */




ul {
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}

.navbar {
  background: #fbfbff;
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding:  1.5rem;
  box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
}

.nav-center {
  width: 100%;
  /* max-width: var(--max-width); */
}

.nav-center a {
  color: var(--main--black);
  margin-left: 50px;
  font-size: clamp(1.4rem, 5vw, 0.85rem);

  transition: var(--transition);
  text-transform: uppercase;

}
.nav-center a:hover {
  color: #ff8569;
}








 /* base styles */
.home,
.about,
.projects {
  min-height: 100vh;
   background: #fbfbff;
}

/* .home {
  background: #fbfbff;
}
.about {
  background: #fde2b6;
}
.projects {
  background: #f0f0ff;
} */

.sticky {
  position: sticky;
  top: 0;
  z-index: 999;
}

h1 {
  font-size: 3rem;
  padding-left: 80px;
}
